:root {
  font-family: Inter, sans-serif;
  color: #111827;
  background: #f9fafb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
}

body {
  margin: 0;
  background: #f9fafb;
}

h2 {
  margin: 0;
  color: #111827;
  font-size: 24px;
  font-weight: 600;
}

p {
  margin: 0;
}
